<div>

    <table>
        <tr>
                <th v-for="key in columns"
                               :md-sort-by="key.name">
                    {{ key.displayName | capitalize }}
                </th>
        </tr>
        <tbody>
            <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                    {{ showValue(key, entry) }}
                </td>
            </tr>
        </tbody>
    </table>

    <div v-if="fullFledged">
        <md-button class="md-primary" @click.native="$refs['dialog'].open()">추가</md-button>

        <md-dialog md-open-from="#fab" md-close-to="#fab" ref="dialog">
            <md-dialog-title>New</md-dialog-title>

            <md-dialog-content>
                <object-form ref="object-form"
                             :java="java"
                             :data = "{}"
                             :event-listeners = "['grid']"
                >
                </object-form>
            </md-dialog-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click.native="addObject($refs['object-form'].data); $refs['dialog'].close()">저장</md-button>
                <md-button class="md-primary" @click.native="$refs['dialog'].close()">닫기</md-button>
            </md-dialog-actions>
        </md-dialog>

    </div>


</div>