<div>

    <md-table>
        <md-table-header>
            <md-table-row>
                <md-table-head v-for="key in columns"
                               :md-sort-by="key.name">
                    {{ key.displayName | capitalize }}
                </md-table-head>
            </md-table-row>
        </md-table-header>
        <md-table-body>
            <md-table-row v-for="entry in filteredData">
                <md-table-cell v-for="key in columns">
                    {{ showValue(key, entry) }}
                </md-table-cell>
            </md-table-row>
        </md-table-body>
    </md-table>

    <div v-if="fullFledged">
        <md-button class="md-primary" @click.native="$refs['dialog'].open()">추가</md-button>

        <md-dialog md-open-from="#fab" md-close-to="#fab" ref="dialog">
            <md-dialog-title>New</md-dialog-title>

            <md-dialog-content>
                <object-form ref="object-form"
                             :java="java"
                             :data = "{}"
                             :event-listeners = "['grid']"
                >
                </object-form>
            </md-dialog-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click.native="addObject($refs['object-form'].data); $refs['dialog'].close()">저장</md-button>
                <md-button class="md-primary" @click.native="$refs['dialog'].close()">닫기</md-button>
            </md-dialog-actions>
        </md-dialog>

    </div>


</div>