<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@0.7.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">


</head>
<body>

<script>

    Vue.use(VueMaterial)

</script>


<script type="text/x-template" id="object-grid-template">

    <form novalidate @submit.stop.prevent="submit" v-once>
        <md-input-container v-for="key in columns">
            <label>{{ key.displayName }}</label>
            <md-input v-model="propData"></md-input>
        </md-input-container>
    </form>
</script>

<!-- demo root element -->
<div id="demo-1">

    <object-grid
            :data="gridData"
            :java="className_"
            :filter-key="searchQuery">
    </object-grid>
</div>


<script>


    Vue.component('object-grid', {
        template: '#object-grid-template',
        props: {
            data: Array,
            columns: Array,
            filterKey: String,
            java: String,
            propData: Object

        },

        created: function () {
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', "http://localhost:8080/metadata?className=" + this.java, false);
            xhr.onload = function () {
                var metadata = JSON.parse(xhr.responseText)
                self.columns = metadata.fieldDescriptors;
            }
            xhr.send();

        },

        data: function () {


            var sortOrders = {}

            if(this.columns) {
                this.columns.forEach(function (key) {
                    sortOrders[key] = 1
                });
            }

            return {
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        computed: {
            filteredData: function () {
                var sortKey = this.sortKey
                var filterKey = this.filterKey && this.filterKey.toLowerCase()
                var order = this.sortOrders[sortKey] || 1
                var data = this.data
                if (filterKey) {
                    data = data.filter(function (row) {
                        return Object.keys(row).some(function (key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }
                if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return data
            }
        },
        filters: {
            capitalize: function (str) {
                return str.charAt(0).toUpperCase() + str.slice(1)
            }
        },
        methods: {
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    })

    // bootstrap the demo
    var demo1 = new Vue({
        el: '#demo-1',
        data: {
            searchQuery: '',
            className_: 'hello.Person',
            gridData: [
                { name: 'Chuck Norris', power: Infinity },
                { name: 'Bruce Lee', power: 9000 },
                { name: 'Jackie Chan', power: 7000 },
                { name: 'Jet Li', power: 8000 }
            ]
        }
    })



</script>

</body>
</html>